p {
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 0px;

    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    color: rgb(224, 251, 255);
    font-size: ;
}
h1 {
    padding-top: 00px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 30px;
}
body {
   background-color: black; 
}
h1 {
   color: lightcoral;
}
img {
    float: right;
    border-radius: 100%;
    padding-left: 50px; 
    padding-top: 0px;
    padding-bottom: 50px;
    border-style:inset;
    border-color: palevioletred;
}
h3 {
    color:lightcoral;
    padding-left: 0px;
    font-size:30px ;
}
h2{
    color: lightseagreen;
    padding-left: 150px;
    font-size: 30px;
}
p2 {
    color:rgb(224, 251, 255);
    display: inline;
    padding-left: 0px;
    font-size: 20px;
    
}
p3 {
    display: inline-block;
    font-size: 15px;
}
div { 
    padding-block: 100px; 
    border-radius: 20%;
    padding-left: 100px;
    padding-bottom: 0px; 
    font-size: 2pc;
}
ul { background-color: rgb(192, 162, 26);}

